<app-header></app-header>

<div class="container-fluit mt-2">
  <div class="row">

    <div class="col-2 bg-light p-3">
      <div class="d-flex flex-column">
        <h2>Registro de usuario</h2>
        <form (ngSubmit)="register()">
          <div>
            <label for="username">Usuario:</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Ingrese su usuario" required>
          </div>
          <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Ingrese su contraseña" required>
          </div>
          <button type="submit">Registrarse</button>
        </form>
      </div>
    </div>

    <div class="col-10">
      <app-slider></app-slider>
    </div>
  </div>
</div>

<div class="fixed-bottom">
  <app-footer></app-footer>
</div>
