<app-header></app-header>

<div class="container-fluit mt-2">
  <div class="row">
    <div class="col-2 bg-light p-3 ">
     
<form [formGroup]="loginForm">
  <p class="text-danger">{{loginError}} </p>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email </label>
    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">

      <div *ngIf="email.errors?.['required']">
        Debe ingresar el Email
      </div>
      <div *ngIf="email.errors?.['email']">
        Su formato no corresponde a un Email valido
      </div>

</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">

      <div *ngIf="password.errors?.['required']">
        Debe ingresar  password
      </div>


</div>
  </div>

  <button type="submit" (click)="login()" class="btn btn-primary">iniciar sesion</button>
</form>

    </div>
    <div class="col-10">
      <app-slider></app-slider>
    </div>
  </div>
</div>

<app-footer></app-footer>

